:root {
  /* Color styles */
  --sanger--theme--white: rgba(255, 255, 255, 1);
  --sanger--theme--black: rgba(0, 0, 0, 1);
  --sanger--theme--source--seed: rgba(17, 192, 69, 1);
  --sanger--theme--source--primary: rgba(17, 192, 69, 1);
  --sanger--theme--source--secondary: rgba(254, 202, 10, 1);
  --sanger--theme--source--tertiary: rgba(254, 0, 3, 1);
  --sanger--theme--sys--light--surface-tint: rgba(0, 110, 35, 1);
  --sanger--theme--sys--light--surface-tint-color: rgba(0, 110, 35, 1);
  --sanger--theme--sys--light--on-error-container: rgba(65, 0, 2, 1);
  --sanger--theme--sys--light--on-error: rgba(255, 255, 255, 1);
  --sanger--theme--sys--light--error-container: rgba(255, 218, 214, 1);
  --sanger--theme--sys--light--on-tertiary-container: rgba(65, 0, 0, 1);
  --sanger--theme--sys--light--on-tertiary: rgba(255, 255, 255, 1);
  --sanger--theme--sys--light--tertiary-container: rgba(255, 218, 212, 1);
  --sanger--theme--sys--light--tertiary: rgba(192, 0, 1, 1);
  --sanger--theme--sys--light--shadow: rgba(0, 0, 0, 1);
  --sanger--theme--sys--light--error: rgba(186, 26, 26, 1);
  --sanger--theme--sys--light--outline: rgba(114, 121, 111, 1);
  --sanger--theme--sys--light--on-background: rgba(26, 28, 25, 1);
  --sanger--theme--sys--light--background: rgba(252, 253, 247, 1);
  --sanger--theme--sys--light--inverse-on-surface: rgba(240, 241, 235, 1);
  --sanger--theme--sys--light--inverse-surface: rgba(47, 49, 45, 1);
  --sanger--theme--sys--light--on-surface-variant: rgba(66, 73, 64, 1);
  --sanger--theme--sys--light--on-surface: rgba(26, 28, 25, 1);
  --sanger--theme--sys--light--surface-variant: rgba(229, 229, 217, 1);
  --sanger--theme--sys--light--surface: rgba(253, 252, 247, 1);
  --sanger--theme--sys--light--on-secondary-container: rgba(36, 26, 0, 1);
  --sanger--theme--sys--light--on-secondary: rgba(255, 255, 255, 1);
  --sanger--theme--sys--light--secondary-container: rgba(255, 224, 142, 1);
  --sanger--theme--sys--light--secondary: rgba(117, 91, 0, 1);
  --sanger--theme--sys--light--inverse-primary: rgba(72, 226, 98, 1);
  --sanger--theme--sys--light--on-primary-container: rgba(0, 33, 5, 1);
  --sanger--theme--sys--light--on-primary: rgba(255, 255, 255, 1);
  --sanger--theme--sys--light--primary-container: rgba(109, 255, 126, 1);
  --sanger--theme--sys--light--primary: rgba(2, 101, 33, 1);
  --sanger--theme--sys--dark--surface-tint: rgba(72, 226, 98, 1);
  --sanger--theme--sys--dark--surface-tint-color: rgba(72, 226, 98, 1);
  --sanger--theme--sys--dark--on-error-container: rgba(255, 218, 214, 1);
  --sanger--theme--sys--dark--on-error: rgba(105, 0, 5, 1);
  --sanger--theme--sys--dark--error-container: rgba(147, 0, 10, 1);
  --sanger--theme--sys--dark--on-tertiary-container: rgba(255, 218, 212, 1);
  --sanger--theme--sys--dark--on-tertiary: rgba(105, 0, 0, 1);
  --sanger--theme--sys--dark--tertiary-container: rgba(147, 0, 1, 1);
  --sanger--theme--sys--dark--tertiary: rgba(255, 180, 168, 1);
  --sanger--theme--sys--dark--shadow: rgba(0, 0, 0, 1);
  --sanger--theme--sys--dark--error: rgba(255, 180, 171, 1);
  --sanger--theme--sys--dark--outline: rgba(140, 147, 136, 1);
  --sanger--theme--sys--dark--on-background: rgba(226, 227, 221, 1);
  --sanger--theme--sys--dark--background: rgba(26, 28, 25, 1);
  --sanger--theme--sys--dark--inverse-on-surface: rgba(26, 28, 25, 1);
  --sanger--theme--sys--dark--inverse-surface: rgba(226, 227, 221, 1);
  --sanger--theme--sys--dark--on-surface-variant: rgba(201, 200, 189, 1);
  --sanger--theme--sys--dark--on-surface: rgba(226, 227, 221, 1);
  --sanger--theme--sys--dark--surface-variant: rgba(66, 73, 64, 1);
  --sanger--theme--sys--dark--surface: rgba(26, 28, 25, 1);
  --sanger--theme--sys--dark--on-secondary-container: rgba(255, 224, 142, 1);
  --sanger--theme--sys--dark--on-secondary: rgba(61, 47, 0, 1);
  --sanger--theme--sys--dark--secondary-container: rgba(88, 68, 0, 1);
  --sanger--theme--sys--dark--secondary: rgba(242, 192, 0, 1);
  --sanger--theme--sys--dark--inverse-primary: rgba(0, 110, 35, 1);
  --sanger--theme--sys--dark--on-primary-container: rgba(109, 255, 126, 1);
  --sanger--theme--sys--dark--on-primary: rgba(0, 57, 14, 1);
  --sanger--theme--sys--dark--primary-container: rgba(0, 83, 24, 1);
  --sanger--theme--sys--dark--primary: rgba(72, 226, 98, 1);
  --sanger--theme--ref--error--error0: rgba(0, 0, 0, 1);
  --sanger--theme--ref--error--error10: rgba(65, 0, 2, 1);
  --sanger--theme--ref--error--error20: rgba(105, 0, 5, 1);
  --sanger--theme--ref--error--error30: rgba(147, 0, 10, 1);
  --sanger--theme--ref--error--error40: rgba(186, 26, 26, 1);
  --sanger--theme--ref--error--error50: rgba(222, 55, 48, 1);
  --sanger--theme--ref--error--error60: rgba(255, 84, 73, 1);
  --sanger--theme--ref--error--error70: rgba(255, 137, 125, 1);
  --sanger--theme--ref--error--error80: rgba(255, 180, 171, 1);
  --sanger--theme--ref--error--error90: rgba(255, 218, 214, 1);
  --sanger--theme--ref--error--error95: rgba(255, 237, 234, 1);
  --sanger--theme--ref--error--error99: rgba(255, 251, 255, 1);
  --sanger--theme--ref--error--error100: rgba(255, 255, 255, 1);
  --sanger--theme--ref--error--error25: rgba(126, 0, 7, 1);
  --sanger--theme--ref--error--error35: rgba(168, 7, 16, 1);
  --sanger--theme--ref--error--error98: rgba(255, 248, 247, 1);
  --sanger--theme--ref--primary--primary0: rgba(0, 0, 0, 1);
  --sanger--theme--ref--primary--primary10: rgba(0, 33, 5, 1);
  --sanger--theme--ref--primary--primary20: rgba(0, 57, 14, 1);
  --sanger--theme--ref--primary--primary30: rgba(0, 83, 24, 1);
  --sanger--theme--ref--primary--primary40: rgba(0, 110, 35, 1);
  --sanger--theme--ref--primary--primary50: rgba(0, 138, 46, 1);
  --sanger--theme--ref--primary--primary60: rgba(0, 168, 57, 1);
  --sanger--theme--ref--primary--primary70: rgba(30, 197, 73, 1);
  --sanger--theme--ref--primary--primary80: rgba(72, 226, 98, 1);
  --sanger--theme--ref--primary--primary90: rgba(109, 255, 126, 1);
  --sanger--theme--ref--primary--primary95: rgba(199, 255, 194, 1);
  --sanger--theme--ref--primary--primary99: rgba(246, 255, 240, 1);
  --sanger--theme--ref--primary--primary100: rgba(255, 255, 255, 1);
  --sanger--theme--ref--primary--primary25: rgba(0, 70, 19, 1);
  --sanger--theme--ref--primary--primary35: rgba(0, 96, 29, 1);
  --sanger--theme--ref--primary--primary98: rgba(235, 255, 229, 1);
  --sanger--theme--ref--secondary--secondary0: rgba(0, 0, 0, 1);
  --sanger--theme--ref--secondary--secondary10: rgba(36, 26, 0, 1);
  --sanger--theme--ref--secondary--secondary20: rgba(61, 47, 0, 1);
  --sanger--theme--ref--secondary--secondary30: rgba(88, 68, 0, 1);
  --sanger--theme--ref--secondary--secondary40: rgba(117, 91, 0, 1);
  --sanger--theme--ref--secondary--secondary50: rgba(146, 115, 0, 1);
  --sanger--theme--ref--secondary--secondary60: rgba(177, 140, 0, 1);
  --sanger--theme--ref--secondary--secondary70: rgba(209, 166, 0, 1);
  --sanger--theme--ref--secondary--secondary80: rgba(242, 192, 0, 1);
  --sanger--theme--ref--secondary--secondary90: rgba(255, 224, 142, 1);
  --sanger--theme--ref--secondary--secondary95: rgba(255, 239, 206, 1);
  --sanger--theme--ref--secondary--secondary99: rgba(255, 251, 255, 1);
  --sanger--theme--ref--secondary--secondary100: rgba(255, 255, 255, 1);
  --sanger--theme--ref--secondary--secondary25: rgba(74, 57, 0, 1);
  --sanger--theme--ref--secondary--secondary35: rgba(102, 80, 0, 1);
  --sanger--theme--ref--secondary--secondary98: rgba(255, 248, 241, 1);
  --sanger--theme--ref--tertiary--tertiary0: rgba(0, 0, 0, 1);
  --sanger--theme--ref--tertiary--tertiary10: rgba(65, 0, 0, 1);
  --sanger--theme--ref--tertiary--tertiary20: rgba(105, 0, 0, 1);
  --sanger--theme--ref--tertiary--tertiary30: rgba(147, 0, 1, 1);
  --sanger--theme--ref--tertiary--tertiary40: rgba(192, 0, 1, 1);
  --sanger--theme--ref--tertiary--tertiary50: rgba(239, 0, 2, 1);
  --sanger--theme--ref--tertiary--tertiary60: rgba(255, 85, 65, 1);
  --sanger--theme--ref--tertiary--tertiary70: rgba(255, 138, 121, 1);
  --sanger--theme--ref--tertiary--tertiary80: rgba(255, 180, 168, 1);
  --sanger--theme--ref--tertiary--tertiary90: rgba(255, 218, 212, 1);
  --sanger--theme--ref--tertiary--tertiary95: rgba(255, 237, 234, 1);
  --sanger--theme--ref--tertiary--tertiary99: rgba(255, 251, 255, 1);
  --sanger--theme--ref--tertiary--tertiary100: rgba(255, 255, 255, 1);
  --sanger--theme--ref--tertiary--tertiary25: rgba(126, 0, 0, 1);
  --sanger--theme--ref--tertiary--tertiary35: rgba(170, 0, 1, 1);
  --sanger--theme--ref--tertiary--tertiary98: rgba(255, 248, 246, 1);
  --sanger--theme--ref--neutral--neutral0: rgba(0, 0, 0, 1);
  --sanger--theme--ref--neutral--neutral10: rgba(26, 28, 25, 1);
  --sanger--theme--ref--neutral--neutral20: rgba(47, 49, 45, 1);
  --sanger--theme--ref--neutral--neutral30: rgba(69, 71, 67, 1);
  --sanger--theme--ref--neutral--neutral40: rgba(93, 95, 91, 1);
  --sanger--theme--ref--neutral--neutral50: rgba(118, 120, 115, 1);
  --sanger--theme--ref--neutral--neutral60: rgba(144, 145, 140, 1);
  --sanger--theme--ref--neutral--neutral70: rgba(170, 172, 166, 1);
  --sanger--theme--ref--neutral--neutral80: rgba(198, 199, 193, 1);
  --sanger--theme--ref--neutral--neutral90: rgba(226, 227, 221, 1);
  --sanger--theme--ref--neutral--neutral95: rgba(240, 241, 235, 1);
  --sanger--theme--ref--neutral--neutral99: rgba(252, 253, 247, 1);
  --sanger--theme--ref--neutral--neutral100: rgba(255, 255, 255, 1);
  --sanger--theme--ref--neutral--neutral-na-n: rgba(255, 255, 255, 1);
  --sanger--theme--ref--neutral--neutral25: rgba(58, 60, 56, 1);
  --sanger--theme--ref--neutral--neutral35: rgba(81, 83, 79, 1);
  --sanger--theme--ref--neutral--neutral98: rgba(249, 250, 244, 1);
  --sanger--theme--ref--neutral-variant--neutral-variant0: rgba(0, 0, 0, 1);
  --sanger--theme--ref--neutral-variant--neutral-variant10: rgba(23, 29, 22, 1);
  --sanger--theme--ref--neutral-variant--neutral-variant20: rgba(44, 50, 42, 1);
  --sanger--theme--ref--neutral-variant--neutral-variant30: rgba(66, 73, 64, 1);
  --sanger--theme--ref--neutral-variant--neutral-variant40: rgba(89, 96, 87, 1);
  --sanger--theme--ref--neutral-variant--neutral-variant50: rgba(
    114,
    121,
    111,
    1
  );
  --sanger--theme--ref--neutral-variant--neutral-variant60: rgba(
    140,
    147,
    136,
    1
  );
  --sanger--theme--ref--neutral-variant--neutral-variant70: rgba(
    166,
    173,
    162,
    1
  );
  --sanger--theme--ref--neutral-variant--neutral-variant80: rgba(
    194,
    201,
    189,
    1
  );
  --sanger--theme--ref--neutral-variant--neutral-variant90: rgba(
    222,
    229,
    217,
    1
  );
  --sanger--theme--ref--neutral-variant--neutral-variant95: rgba(
    236,
    243,
    231,
    1
  );
  --sanger--theme--ref--neutral-variant--neutral-variant99: rgba(
    248,
    254,
    242,
    1
  );
  --sanger--theme--ref--neutral-variant--neutral-variant100: rgba(
    255,
    255,
    255,
    1
  );
  --sanger--theme--ref--neutral-variant--neutral-variant25: rgba(55, 61, 53, 1);
  --sanger--theme--ref--neutral-variant--neutral-variant35: rgba(78, 84, 75, 1);
  --sanger--theme--ref--neutral-variant--neutral-variant98: rgba(
    245,
    251,
    239,
    1
  );
  --sanger--theme--key-colors--primary: rgba(17, 192, 69, 1);
  --sanger--theme--key-colors--secondary: rgba(254, 202, 10, 1);
  --sanger--theme--key-colors--tertiary: rgba(254, 0, 3, 1);
  --sanger--theme--key-colors--error: rgba(186, 26, 26, 1);
  --sanger--theme--key-colors--neutral: rgba(93, 95, 91, 1);
  --sanger--theme--key-colors--neutral-variant: rgba(96, 95, 87, 1);
  --sanger--theme--surfaces--light--surface1: rgba(252, 253, 247, 1);
  --sanger--theme--surfaces--light--surface2: rgba(252, 253, 247, 1);
  --sanger--theme--surfaces--light--surface3: rgba(252, 253, 247, 1);
  --sanger--theme--surfaces--light--surface4: rgba(252, 253, 247, 1);
  --sanger--theme--surfaces--light--surface5: rgba(252, 253, 247, 1);
  --sanger--theme--surfaces--dark--surface1: rgba(26, 28, 25, 1);
  --sanger--theme--surfaces--dark--surface2: rgba(26, 28, 25, 1);
  --sanger--theme--surfaces--dark--surface3: rgba(26, 28, 25, 1);
  --sanger--theme--surfaces--dark--surface4: rgba(26, 28, 25, 1);
  --sanger--theme--surfaces--dark--surface5: rgba(26, 28, 25, 1);

  /* Text-size styles */
  --sanger--theme--label--small: 0.7rem;
  --sanger--theme--label--medium: 0.8rem;
  --sanger--theme--label--large: 0.9rem;
  --sanger--theme--body--small: 0.7rem;
  --sanger--theme--body--medium: 0.8rem;
  --sanger--theme--body--large: 0.9rem;
  --sanger--theme--headline--small: 1.375rem;
  --sanger--theme--headline--medium: 1.75rem;
  --sanger--theme--headline--large: 2rem;
  --sanger--theme--display--small: 2.25rem;
  --sanger--theme--display--medium: 2.813rem;
  --sanger--theme--display--large: 4.375rem;
  --sanger--theme--title--small: 0.9rem;
  --sanger--theme--title--medium: 1rem;
  --sanger--theme--title--large: 1.3rem;
}
@media (max-width: 900px) {
  :root {
    --sanger--theme--label--small: 0.7rem;
    --sanger--theme--label--medium: 0.8rem;
    --sanger--theme--label--large: 0.9rem;
    --sanger--theme--body--small: 0.7rem;
    --sanger--theme--body--medium: 0.8rem;
    --sanger--theme--body--large: 0.9rem;
    --sanger--theme--headline--small: 1.375rem;
    --sanger--theme--headline--medium: 1.75rem;
    --sanger--theme--headline--large: 2rem;
    --sanger--theme--display--small: 2rem;
    --sanger--theme--display--medium: 2.25rem;
    --sanger--theme--display--large: 3rem;
    --sanger--theme--title--small: 0.9rem;
    --sanger--theme--title--medium: 1rem;
    --sanger--theme--title--large: 1.3rem;
  }
}

.elevation-light1 {
  /* M3/Elevation Light/1 */
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));
}
.elevation-light2 {
  /* M3/Elevation Light/2 */
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));
}
.elevation-light3 {
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);
}
.elevation-light5 {
  /* M3/Elevation Light/5 */
  box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);
}
/* display fonts */
.display-large {
  font-size: var(--sanger--theme--display--large);
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: -0.016rem;
}

.display-medium {
  font-size: var(--sanger--theme--display--medium);
  font-weight: 400;
  line-height: 3.25rem;
}
.display-small {
  font-size: var(--sanger--theme--display--small);
  font-weight: 400;
  line-height: 2.75rem;
}
@media (max-width: 900px) {
  .display-large {
    line-height: 3.5rem;
  }
  .display-medium {
    line-height: 2.7rem;
  }
}

/* headline fonts */
.headline-large {
  font-size: var(--sanger--theme--headline--large);
  font-weight: 700;
  line-height: 2.5rem;
}
.headline-medium {
  font-size: var(--sanger--theme--headline--medium);
  font-weight: 400;
  line-height: 2.5rem;
}
.headline-small {
  font-size: var(--sanger--theme--headline--small);
  font-weight: 400;
  line-height: 2rem;
}

/* title fonts */
.title-large {
  font-size: var(--sanger--theme--title--large);
  font-weight: 400;
  line-height: 1.75rem;
}
.title-medium {
  font-size: var(--sanger--theme--title--medium);
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
}
.title-small {
  font-size: var(--sanger--theme--title--small);
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.1px;
}

/* label fonts  */
.label-large {
  font-size: var(--sanger--theme--label--large);
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: 0.1px;
}
.label-medium {
  font-size: var(--sanger--theme--label--medium);
  font-weight: 500;
  line-height: 1.3rem;
  letter-spacing: 0.5px;
}
.label-small {
  font-size: var(--sanger--theme--label--small);
  font-weight: 500;
  line-height: 1.2rem;
  letter-spacing: 0.5px;
}

/* body fonts */
.body-large {
  font-size: var(--sanger--theme--body--large);
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 0.5px;
}
.body-medium {
  font-size: var(--sanger--theme--body--medium);
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: 0.25px;
}
.body-small {
  font-size: var(--sanger--theme--body--small);
  font-weight: 400;
  line-height: 1.1rem;
  letter-spacing: 0.25px;
}

html,
body {
  background: var(--sanger--theme--sys--light--surface);
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

/* wordpress css  */
/*!***************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./css/style.scss ***!
  \***************************************************************************************************************************************************************************************************************************************/
/* 3rd party packages */
/* SASS and Global'ish Stuff */

.light-blue-bk {
  background-color: var(--lightBlue);
}
* {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}

.max-width {
  margin-left: 80px;
  margin-right: 80px;
}
.section-gutter {
  margin-top: 120px;
  margin-bottom: 120px;
}
@media (max-width: 1366px) {
  .max-width {
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media (max-width: 900px) {
  .max-width {
    margin-left: 8px;
    margin-right: 8px;
  }
  .section-gutter {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

/* grid  */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 10vh);
}

/* text clip background  */
.text-background-color strong {
  font-weight: 600;
  --bg-size: 400%;
  --color-one: hsl(15 90% 55%);
  --color-two: hsl(40 95% 55%);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: move-bg 8s infinite linear;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
